.venv/
.venv-win/
.idea/
__pycache__/
.ruff_cache/
.pytest_cache/
node_modules/
dist/

*.pem
jwt-private.key
jwt-private.key.pub
certs/

.env

.vite
.openapi-certs/
coverage/
.ngrok/

setting.local.json
.claude/
DESIGN.md
PRODUCT.md
